html, body{
	background-image: url("tetrislifelesson.jpg");
	background-size: 100%;
	background-color: #600000;
}
#container{
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(0,0,0,.5);
}
#game{
	width: 300px;
	height: 600px;
	vertical-align: top;
	display: inline-block;
}
#tetrisboard, #board{
	width:300px;
	height: 600px;
	border: 1px solid #ccc;
	display: block;
}
#stats-container{
	display: inline-block;
	width: 100px;
	height: 130px;
}
#score{
	padding-top: 25px;
	vertical-align: top;
	background-color: #ffffff;
	width: 100px;
	height: 30px;
	text-align: center;
}
#score p{
	margin-top:-15px;
	text-align: center;
}
#nextpiece-container{
	background-color: #cccccc;
	width: 100px;
	height: 100px;
}
#nextpiece{
	display: block;
	background-color: rgba(128,128,128,.5);
}
#gameOver{
	position: absolute;
	padding-top: 75px;
	background-color: #101010;
	color: #009933;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	text-align: middle;
	top: 100px;
	display: none;
	width: 303px;
	height: 175px;
	z-index: 100;
}
#paused{
	position: absolute;
	background-color: #101010;
	color: #ffff00;
	line-height: 75px;
	text-align: middle;
	top: 150px;
	display: none;
	width: 303px;
	height: 75px;
	z-index: 99;
}